n8n.json
{
    "name": "Hackathon Scraper to Supabase",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "days",
                            "daysInterval": 1
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://unstop.com/hackathons",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
                        }
                    ]
                }
            },
            "id": "unstop-scrape",
            "name": "Unstop Scrape",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://www.hackerearth.com/challenges/hackathon/",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "hackerearth-scrape",
            "name": "HackerEarth Scrape",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                220
            ]
        },
        {
            "parameters": {
                "url": "https://devfolio.co/hackathons",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "devfolio-scrape",
            "name": "Devfolio Scrape",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "url": "https://devpost.com/hackathons",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "devpost-scrape",
            "name": "Devpost Scrape",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                460
            ]
        },
        {
            "parameters": {
                "url": "https://mlh.io/seasons/2025/events",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "mlh-scrape",
            "name": "MLH Scrape",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                580
            ]
        },
        {
            "parameters": {
                "url": "https://api.search.brave.com/res/v1/web/search",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Subscription-Token",
                            "value": "YOUR_BRAVE_API_KEY"
                        }
                    ]
                },
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "hackathon 2025 registration open"
                        },
                        {
                            "name": "count",
                            "value": "20"
                        },
                        {
                            "name": "freshness",
                            "value": "pw"
                        }
                    ]
                },
                "options": {}
            },
            "id": "brave-search-1",
            "name": "Brave Search 1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                700
            ]
        },
        {
            "parameters": {
                "url": "https://api.search.brave.com/res/v1/web/search",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Accept",
                            "value": "application/json"
                        },
                        {
                            "name": "X-Subscription-Token",
                            "value": "YOUR_BRAVE_API_KEY"
                        }
                    ]
                },
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "q",
                            "value": "upcoming tech hackathon India 2025"
                        },
                        {
                            "name": "count",
                            "value": "20"
                        },
                        {
                            "name": "freshness",
                            "value": "pm"
                        }
                    ]
                },
                "options": {}
            },
            "id": "brave-search-2",
            "name": "Brave Search 2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                820
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data;\nconst url = $input.item.json.url || 'https://unstop.com/hackathons';\n\nreturn [{\n  json: {\n    platform: \"Unstop\",\n    html: html,\n    source_url: url,\n    scrape_type: \"platform_specific\"\n  }\n}];"
            },
            "id": "unstop-extract",
            "name": "Unstop Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                100
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data;\nconst url = $input.item.json.url || 'https://www.hackerearth.com/challenges/hackathon/';\n\nreturn [{\n  json: {\n    platform: \"HackerEarth\",\n    html: html,\n    source_url: url,\n    scrape_type: \"platform_specific\"\n  }\n}];"
            },
            "id": "hackerearth-extract",
            "name": "HackerEarth Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                220
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data;\nconst url = $input.item.json.url || 'https://devfolio.co/hackathons';\n\nreturn [{\n  json: {\n    platform: \"Devfolio\",\n    html: html,\n    source_url: url,\n    scrape_type: \"platform_specific\"\n  }\n}];"
            },
            "id": "devfolio-extract",
            "name": "Devfolio Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data;\nconst url = $input.item.json.url || 'https://devpost.com/hackathons';\n\nreturn [{\n  json: {\n    platform: \"Devpost\",\n    html: html,\n    source_url: url,\n    scrape_type: \"platform_specific\"\n  }\n}];"
            },
            "id": "devpost-extract",
            "name": "Devpost Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data;\nconst url = $input.item.json.url || 'https://mlh.io/seasons/2025/events';\n\nreturn [{\n  json: {\n    platform: \"MLH\",\n    html: html,\n    source_url: url,\n    scrape_type: \"platform_specific\"\n  }\n}];"
            },
            "id": "mlh-extract",
            "name": "MLH Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                580
            ]
        },
        {
            "parameters": {
                "jsCode": "const results = $input.item.json.web?.results || [];\nconst urls = [];\n\nfor (const result of results) {\n  const url = result.url;\n  const title = result.title || '';\n  const description = result.description || '';\n  \n  // Filter for hackathon-related content\n  const text = (title + ' ' + description).toLowerCase();\n  if (text.includes('hackathon') && !text.includes('past') && !text.includes('concluded')) {\n    urls.push({\n      url: url,\n      title: title,\n      description: description,\n      platform: \"Web Search\"\n    });\n  }\n}\n\nreturn urls.map(u => ({json: u}));"
            },
            "id": "search-extract-urls",
            "name": "Search Extract URLs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                700
            ]
        },
        {
            "parameters": {
                "jsCode": "const results = $input.item.json.web?.results || [];\nconst urls = [];\n\nfor (const result of results) {\n  const url = result.url;\n  const title = result.title || '';\n  const description = result.description || '';\n  \n  const text = (title + ' ' + description).toLowerCase();\n  if (text.includes('hackathon') && !text.includes('past') && !text.includes('concluded')) {\n    urls.push({\n      url: url,\n      title: title,\n      description: description,\n      platform: \"Web Search\"\n    });\n  }\n}\n\nreturn urls.map(u => ({json: u}));"
            },
            "id": "search-extract-urls-2",
            "name": "Search Extract URLs 2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                820
            ]
        },
        {
            "parameters": {
                "url": "={{$json.url}}",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "fetch-search-pages",
            "name": "Fetch Search Pages",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                700
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "url": "={{$json.url}}",
                "options": {
                    "timeout": 10000
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "User-Agent",
                            "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
                        }
                    ]
                }
            },
            "id": "fetch-search-pages-2",
            "name": "Fetch Search Pages 2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                820
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data || '';\nconst url = $input.item.json.url;\nconst platform = $input.item.json.platform || 'Web Search';\n\nif (!html || html.length < 100) {\n  return [];\n}\n\nreturn [{\n  json: {\n    platform: platform,\n    html: html,\n    source_url: url,\n    scrape_type: \"web_search\"\n  }\n}];"
            },
            "id": "web-search-extract",
            "name": "Web Search Extract",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                700
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.body || $input.item.json.data || '';\nconst url = $input.item.json.url;\nconst platform = $input.item.json.platform || 'Web Search';\n\nif (!html || html.length < 100) {\n  return [];\n}\n\nreturn [{\n  json: {\n    platform: platform,\n    html: html,\n    source_url: url,\n    scrape_type: \"web_search\"\n  }\n}];"
            },
            "id": "web-search-extract-2",
            "name": "Web Search Extract 2",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                820
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "combinationMode": "mergeByPosition",
                "options": {}
            },
            "id": "merge-all-sources",
            "name": "Merge All Sources",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 2.1,
            "position": [
                1340,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-for-llm",
            "name": "Split for LLM",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.html || '';\nconst platform = $input.item.json.platform;\nconst sourceUrl = $input.item.json.source_url;\nconst today = new Date().toISOString().split('T')[0];\n\n// Truncate HTML to avoid token limits\nconst truncatedHtml = html.substring(0, 12000);\n\nconst prompt = `You are a hackathon data extraction expert. Extract ALL hackathon information from this HTML content.\n\nPlatform: ${platform}\nSource URL: ${sourceUrl}\n\nHTML Content:\n${truncatedHtml}\n\nExtract each hackathon with these EXACT fields (use null if not found):\n{\n  \"name\": \"hackathon title\",\n  \"description\": \"brief description (max 300 chars)\",\n  \"start_date\": \"YYYY-MM-DD or null\",\n  \"end_date\": \"YYYY-MM-DD or null\",\n  \"registration_deadline\": \"YYYY-MM-DD or null\",\n  \"url\": \"direct hackathon page URL\",\n  \"location_type\": \"Online\" or \"Offline\" or \"Hybrid\",\n  \"location_details\": \"city, country or 'Online' or 'Global'\",\n  \"prize_pool\": \"amount with currency or null\",\n  \"organizer\": \"organizing company/institution\",\n  \"tags\": [\"AI\", \"Web3\", etc],\n  \"eligibility\": \"who can participate\",\n  \"team_size\": \"solo/team size info\",\n  \"source_platform\": \"${platform}\"\n}\n\nCRITICAL RULES:\n1. For location_type: Determine if Online, Offline, or Hybrid based on content\n2. For location_details: Extract city/country for offline events, \"Online\" for online events\n3. Extract the ACTUAL hackathon page URL, not the listing page\n4. If dates are relative (e.g., \"starts in 5 days\"), convert to actual dates (today is ${today})\n5. Return ONLY a valid JSON array, no markdown, no explanation, no preamble\n6. If you find multiple hackathons, include all of them in the array\n\nReturn format:\n[\n  {\n    \"name\": \"AI Hackathon 2025\",\n    \"description\": \"Build AI solutions for healthcare\",\n    \"start_date\": \"2025-02-15\",\n    \"end_date\": \"2025-02-17\",\n    \"registration_deadline\": \"2025-02-10\",\n    \"url\": \"https://example.com/ai-hackathon\",\n    \"location_type\": \"Hybrid\",\n    \"location_details\": \"Bangalore, India + Online\",\n    \"prize_pool\": \"$10,000 USD\",\n    \"organizer\": \"Tech Corp\",\n    \"tags\": [\"AI\", \"Healthcare\"],\n    \"eligibility\": \"Students and professionals\",\n    \"team_size\": \"2-4 members\",\n    \"source_platform\": \"${platform}\"\n  }\n]`;\n\nreturn {\n  json: {\n    prompt: prompt,\n    platform: platform,\n    original_url: sourceUrl\n  }\n};"
            },
            "id": "prepare-llm-prompt",
            "name": "Prepare LLM Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.mistral.ai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_MISTRAL_API_KEY"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a precise data extraction assistant. Extract structured hackathon data and return ONLY valid JSON arrays. Never include markdown formatting, code blocks, or explanations. Return raw JSON only.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 4000\n}",
                "options": {}
            },
            "id": "mistral-llm-call",
            "name": "Mistral LLM Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2000,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst allHackathons = [];\n\nfor (const item of items) {\n  try {\n    let response = item.json.choices?.[0]?.message?.content || item.json.response || '';\n    \n    // Clean response - remove markdown code blocks\n    response = response.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    \n    // Remove any leading/trailing text\n    const jsonMatch = response.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) {\n      response = jsonMatch[0];\n    }\n    \n    let hackathons;\n    try {\n      hackathons = JSON.parse(response);\n    } catch (parseError) {\n      console.error('JSON parse error:', parseError);\n      console.error('Response:', response.substring(0, 500));\n      continue;\n    }\n    \n    // Ensure it's an array\n    if (!Array.isArray(hackathons)) {\n      if (typeof hackathons === 'object' && hackathons !== null) {\n        hackathons = [hackathons];\n      } else {\n        continue;\n      }\n    }\n    \n    // Enrich each hackathon\n    const enriched = hackathons.map(h => {\n      // Normalize location_type\n      let locationType = 'Unknown';\n      if (h.location_type) {\n        const lt = h.location_type.toLowerCase();\n        if (lt.includes('online')) locationType = 'Online';\n        else if (lt.includes('offline')) locationType = 'Offline';\n        else if (lt.includes('hybrid')) locationType = 'Hybrid';\n      }\n      \n      return {\n        name: h.name,\n        description: h.description,\n        start_date: h.start_date,\n        end_date: h.end_date,\n        registration_deadline: h.registration_deadline,\n        url: h.url,\n        location_type: locationType,\n        location_details: h.location_details,\n        prize_pool: h.prize_pool,\n        organizer: h.organizer,\n        tags: Array.isArray(h.tags) ? h.tags : [],\n        eligibility: h.eligibility,\n        team_size: h.team_size,\n        source_platform: h.source_platform,\n        scraped_at: new Date().toISOString(),\n        status: 'active'\n      };\n    });\n    \n    allHackathons.push(...enriched);\n  } catch (error) {\n    console.error('Error processing item:', error);\n  }\n}\n\nconsole.log(`Extracted ${allHackathons.length} hackathons from LLM responses`);\n\nreturn allHackathons.map(h => ({json: h}));"
            },
            "id": "parse-llm-response",
            "name": "Parse LLM Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2220,
                400
            ]
        },
        {
            "parameters": {},
            "id": "loop-back-llm",
            "name": "Loop Back LLM",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                1780,
                560
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst seen = new Map();\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Skip if missing critical fields\n  if (!data.name || !data.url) {\n    console.log('Skipping item - missing name or URL');\n    continue;\n  }\n  \n  // Normalize URL for deduplication\n  let normalizedUrl = data.url.toLowerCase().trim();\n  normalizedUrl = normalizedUrl.replace(/\\/$/, ''); // Remove trailing slash\n  normalizedUrl = normalizedUrl.replace(/^https?:\\/\\/(www\\.)?/, ''); // Remove protocol and www\n  \n  // Create composite key\n  const nameKey = data.name.toLowerCase().trim().substring(0, 100);\n  const key = `${nameKey}_${normalizedUrl}`;\n  \n  if (seen.has(key)) {\n    // Merge with existing entry - keep most complete data\n    const existing = seen.get(key);\n    const merged = {\n      ...existing,\n      description: data.description || existing.description,\n      start_date: data.start_date || existing.start_date,\n      end_date: data.end_date || existing.end_date,\n      registration_deadline: data.registration_deadline || existing.registration_deadline,\n      prize_pool: data.prize_pool || existing.prize_pool,\n      location_details: data.location_details || existing.location_details,\n      organizer: data.organizer !== 'Unknown' ? data.organizer : existing.organizer,\n      eligibility: data.eligibility || existing.eligibility,\n      team_size: data.team_size || existing.team_size,\n      tags: [...new Set([...(existing.tags || []), ...(data.tags || [])])],\n    };\n    seen.set(key, merged);\n  } else {\n    // Clean and validate data\n    const cleaned = {\n      name: data.name.trim().substring(0, 200),\n      description: data.description?.trim().substring(0, 500) || null,\n      start_date: data.start_date || null,\n      end_date: data.end_date || null,\n      registration_deadline: data.registration_deadline || null,\n      url: data.url.trim(),\n      location_type: data.location_type || 'Unknown',\n      location_details: data.location_details?.trim() || null,\n      prize_pool: data.prize_pool?.trim() || null,\n      organizer: data.organizer?.trim() || 'Unknown',\n      tags: Array.isArray(data.tags) ? data.tags.slice(0, 10) : [],\n      eligibility: data.eligibility?.trim().substring(0, 200) || null,\n      team_size: data.team_size?.trim() || null,\n      source_platform: data.source_platform || 'Unknown',\n      scraped_at: data.scraped_at,\n      status: 'active'\n    };\n    \n    seen.set(key, cleaned);\n  }\n}\n\nconst unique = Array.from(seen.values());\n\nconsole.log(`Total items: ${items.length}, Unique hackathons: ${unique.length}`);\n\nreturn unique.map(h => ({json: h}));"
            },
            "id": "deduplicate-validate",
            "name": "Deduplicate & Validate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2440,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 5,
                "options": {}
            },
            "id": "split-for-db",
            "name": "Split for DB Insert",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2660,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://YOUR_PROJECT_ID.supabase.co/rest/v1/hackathons",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_SUPABASE_ANON_KEY"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"name\": \"{{ $json.name }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"start_date\": \"{{ $json.start_date }}\",\n  \"end_date\": \"{{ $json.end_date }}\",\n  \"registration_deadline\": \"{{ $json.registration_deadline }}\",\n  \"url\": \"{{ $json.url }}\",\n  \"location_type\": \"{{ $json.location_type }}\",\n  \"location_details\": \"{{ $json.location_details }}\",\n  \"prize_pool\": \"{{ $json.prize_pool }}\",\n  \"organizer\": \"{{ $json.organizer }}\",\n  \"tags\": {{ $json.tags }},\n  \"eligibility\": \"{{ $json.eligibility }}\",\n  \"team_size\": \"{{ $json.team_size }}\",\n  \"source_platform\": \"{{ $json.source_platform }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"scraped_at\": \"{{ $json.scraped_at }}\"\n}",
                "options": {}
            },
            "id": "supabase-upsert",
            "name": "Supabase Upsert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                2880,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {},
            "id": "loop-back-db",
            "name": "Loop Back DB",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2880,
                560
            ]
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst successCount = items.filter(i => i.json.statusCode === 201 || i.json.statusCode === 200).length;\nconst errorCount = items.filter(i => i.json.statusCode !== 201 && i.json.statusCode !== 200).length;\n\nconst summary = {\n  total_processed: items.length,\n  successful_inserts: successCount,\n  failed_inserts: errorCount,\n  timestamp: new Date().toISOString(),\n  message: `Hackathon scraping completed. ${successCount} hackathons added/updated in database.`\n};\n\nconsole.log('Workflow Summary:', summary);\n\nreturn [{ json: summary }];"
            },
            "id": "final-summary",
            "name": "Final Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3100,
                400
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Unstop Scrape",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HackerEarth Scrape",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Devfolio Scrape",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Devpost Scrape",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "MLH Scrape",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Brave Search 1",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Brave Search 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unstop Scrape": {
            "main": [
                [
                    {
                        "node": "Unstop Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HackerEarth Scrape": {
            "main": [
                [
                    {
                        "node": "HackerEarth Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Devfolio Scrape": {
            "main": [
                [
                    {
                        "node": "Devfolio Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Devpost Scrape": {
            "main": [
                [
                    {
                        "node": "Devpost Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MLH Scrape": {
            "main": [
                [
                    {
                        "node": "MLH Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Brave Search 1": {
            "main": [
                [
                    {
                        "node": "Search Extract URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Brave Search 2": {
            "main": [
                [
                    {
                        "node": "Search Extract URLs 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Extract URLs": {
            "main": [
                [
                    {
                        "node": "Fetch Search Pages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Extract URLs 2": {
            "main": [
                [
                    {
                        "node": "Fetch Search Pages 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Search Pages": {
            "main": [
                [
                    {
                        "node": "Web Search Extract",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Search Pages 2": {
            "main": [
                [
                    {
                        "node": "Web Search Extract 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Unstop Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HackerEarth Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Devfolio Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Devpost Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MLH Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Web Search Extract": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Web Search Extract 2": {
            "main": [
                [
                    {
                        "node": "Merge All Sources",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge All Sources": {
            "main": [
                [
                    {
                        "node": "Split for LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split for LLM": {
            "main": [
                [
                    {
                        "node": "Prepare LLM Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LLM Prompt": {
            "main": [
                [
                    {
                        "node": "Mistral LLM Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral LLM Call": {
            "main": [
                [
                    {
                        "node": "Parse LLM Response",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Loop Back LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Back LLM": {
            "main": [
                [
                    {
                        "node": "Split for LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse LLM Response": {
            "main": [
                [
                    {
                        "node": "Deduplicate & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Deduplicate & Validate": {
            "main": [
                [
                    {
                        "node": "Split for DB Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split for DB Insert": {
            "main": [
                [
                    {
                        "node": "Supabase Upsert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Upsert": {
            "main": [
                [
                    {
                        "node": "Loop Back DB",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Final Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Back DB": {
            "main": [
                [
                    {
                        "node": "Split for DB Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-01-17T12:00:00.000Z",
    "versionId": "1"
}